*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
tr,
th,
td {
  border: 1px solid black;
  padding: 5px;
  border-spacing: 5px;
  text-align: center;
}

.main-container{
    margin: auto;
    width: 50%;
    border: 1px solid green;
    padding: 10px;
    margin-top: 3rem;
}

.center{
    text-align: center;
    line-height: 3rem;
}

.data{
    height: 40rem;
}

.bold{
    font-weight: bold;
}

.mathematics,
.english,
.physics,
.chemistry,
.biology {
  font-weight: bold;
}

